<div class="container-fluid foot">
  <div class="footer1">
    <div class="footer" id="sec1">
      <ul>
        <li>About Us</li>
        <li>Sell With Us</li>
        <li>Coupons & Deals</li>        
        <li>Cancellation & Refund</li>        
        <li>Terms and Conditions</li>        
        <li>Career</li>        
      </ul>
    </div>
    <div class="footer" id="sec2">
      <i class="fa-brands fa-facebook icn"></i>
      <i class="fa-brands fa-instagram icn"></i>
      <i class="fa-brands fa-whatsapp icn"></i>
      <i class="fa-brands fa-linkedin icn"></i>
    </div>
    <div class="footer" id="sec3">
      <ul>
        <li>Media</li>
        <li>Privacy Policy</li>
        <li>Reviews</li>
        <li>Blog</li>
      </ul>
    </div>
    <div class="footer" id="sec4">
      <h3>Contact Us</h3>
      <form >
        <label for="">Message</label><br>
        <input type="text" >
        <button>Submit</button>
      </form>
      <p>Mobile no: +91 8965478541</p>
      <p>Phone no: +02245 654859</p>
    </div>
  </div>
  <div class="copyright">
    Copyright. 2022. FA GIFTS PVT. LTD
  </div>
</div>