<!-- One way Data Binding -->
<!-- Interpolation -->
<!-- <span>Welcome</span>
<br>
<span>{{ title }} app is running!</span>

<h2>{{a}}</h2>

<h3>{{69+23}}</h3>

<h3>69+23</h3>

<p> {{ 89  <  120}}</p>
<p> {{a+ num}}</p>


<p>{{true && false }}</p>

<p>{{data}}</p>

<p>{{power}}</p>






Create Componenet 
<app-login></app-login>

<app-sign-up></app-sign-up> -->
<!-- <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>


<style>
  h3{
    font-size: 35px;
  }
</style>

<h2>Welcome to Angular sessions</h2>

<div #para (mouseleave)="show(0)" *ngIf="dis == 1"  >
  <h4>Project is {{title}}</h4>

<p style="color: rgb(255, 0, 140)">Lorem ipsum dolor sit amet consectetur adipisicing elixt. Ullam quae omnis non natus assumenda velit impedit ea vel magni? Voluptate ut similique commodi a dicta architecto earum enim. Perspiciatis, tempore.</p>
</div>

<button (click)="show1(1)">Show</button> -->

<!-- //ngIf -->
<!-- <div *ngIf="show">
  <h2>Control flow statement</h2>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia eos perferendis odio ipsa, in distinctio aliquam eaque error velit autem ducimus obcaecati iure assumenda, dolorum voluptates illo est qui provident?</p>
</div> -->


<!-- <div *ngIf="owais < sagar">
  <div *ngIf="owais < samson">
    <h2>Owais is younger </h2>
  </div>
</div>

<div *ngIf="sagar < owais">
  <div *ngIf="sagar < samson">
    <h2>sagar is younger </h2>
  </div>
</div>

<div *ngIf="samson < sagar">
  <div *ngIf="samson < owais">
    <h2>Samson is younger </h2>
  </div>
</div>
 -->



<!-- <div *ngIf="color == 'green'">
  <h2 style="color: green;">Control flow statement</h2>
</div>

<div *ngIf="color == 'red'">
  <h2 style="color: red;">Control flow statement</h2>
</div>

<div *ngIf="color == 'blue'">
  <h2 style="color: blue;">Control flow statement</h2>
</div> -->


<!-- looping statement *ngFor-->
<!-- <ul *ngFor="let data of Name">
  <li>{{data}}</li>
</ul>

<button (click)="event1()">Show Data</button> -->



<!-- Events Handling -->
<!-- <div class="form">
  <input type="text" #inp1 placeholder="Enter username"> <br><br>

  <input type="password" #inp2 placeholder="Enter password"> <br><br>

  <button (click)="login(inp1.value,inp2.value)">Login</button>
</div>

<h2>{{Username}}</h2>
<h2>{{Password}}</h2> -->


<!-- Task -- html to ts Student list-->
<!--
<div class="form">
  <input type="text" #inp1 placeholder="Enter Name"> <br><br>
  <input type="number" #inp2 placeholder="Enter Mobile"> <br><br>
  <input type="text" #inp3 placeholder="Enter Address"> <br><br>
  <button (click)="Register(inp1.value,inp2.value,inp3.value)">Login</button>
</div>
<table>
  <tr>
    <th>Name</th>
    <th>Mobile</th>
    <th>Address</th>
  </tr>
  <tr *ngFor="let data of StudentList">
    <td>{{data.name}}</td>
    <td>{{data.mobile}}</td>
    <td>{{data.address}}</td>
  </tr>
</table> -->





<!-- <div class="form">
  <input type="text" (keyup)="event2(val1.value)" #val1 placeholder="Enter Name"> <br><br>
  <input type="number" (keypress)="event3(val2.value)" #val2 placeholder="Enter Mobile"> <br><br>
  <input type="text" #val3 (keydown)="event4(val3.value)" placeholder="Enter Address"> <br><br>

  <input type="text" #val4 (blur)="event5(val4.value)" placeholder="Enter Address"> <br><br>
  <button >Login</button>
</div>
<h3>{{Data}}</h3> -->


<!-- <app-counter></app-counter>


<app-login></app-login> -->


<!-- <app-register></app-register> -->


<!-- <app-forms-validation></app-forms-validation> -->


    <!--  <form>
      <input type="text" name="Name" placeholder="enter a name" [(ngModel)]="name"> <br><br>
    <button>Submit</button>
  </form>

  <h2>{{name}}</h2> -->



<!-- Start New Project -->
<div class="header">
  <h2>{{title}}</h2>
</div>
<div class="nav_menu">
  <app-header></app-header>
</div>
<div class="home">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>
<!-- End New Project -->





<!-- <div>
  <app-forms-validation></app-forms-validation>
</div> -->


<!-- Decorator
  Pass data Parent to Child component -->
  <!-- <input type="text" placeholder="enter a name" #box  >
  <button (click)="passData(box.value)">Submit</button>
  <h3>{{data}}</h3>
  <br><br>
  <app-child [inputData]="data"></app-child> -->




  <!-- Decorator
  Pass data child to Parent component -->
<!-- <h2>Parent Component</h2>
  <h3>{{ParentData}}</h3>

  <app-child (newEvent)="getData($event)"></app-child> -->



  <!-- Services and Injectors -->
<!-- <app-comp1></app-comp1>


<br><br>

<app-comp2></app-comp2> -->

