<div class="container-fluid b-3 mt-3">
  <h2 class="mb-2">Cookies</h2>
  <div class="row  row-cols-3 ">
    <div class="col  mx-2 m-3" *ngFor="let data of cookiesList" style="width: 25%;">
      <div class="card " >
        <img [src]="data.cookieimg" class="card-img-top" alt="..." width="100px" height="250px">
        <div class="card-body">
          <h2 class="card-title"> <b>{{data.cookiename}}</b></h2>
          <p class="card-text">Quantity: {{data.cookieqty}}</p>
          <p class="card-text"><b>Price: {{data.cookieprice | currency : 'INR'}}</b></p>
        </div>
        <div class="cak text-center mb-2">
          <button class="btn btn-outline-primary">Add to Card</button>
        </div>
      </div>
    </div>

  </div>

</div>
